{% load i18n %}
{% load static %}
{% load unicms_templates %}

<!-- From app django-sass-processor -->
{% if debug %}
    {% load sass_tags %}
{% endif %}
{% load static %}

<!-- load custom template tags -->
{% load unicms_calendar %}
{% load unicms_contexts %}
{% load unicms_pages %}
{% load unicms_templates %}

{% settings_value "CMS_CALENDAR_LIST_PREFIX_PATH" as calendars_list_path %}
{% get_current_language as LANGUAGE_CODE %}
{% random_id uid as id %}

<div class="py-5">
    <div id="{{ id }}">
        <v-calendar
            class="w-100"
            locale="{{ LANGUAGE_CODE }}"
            @update:from-page="switchPage"
            :attributes='attributes'>
            <div slot="day-popover"
             slot-scope="{ day, dayTitle, attributes }">
                <ul style="list-style: none" class="pl-2">
                    <li v-for="attr in attributes">
                        <b class="mr-2" :style="'color:' + [[ attr.bar.base.color ]]">-</b>
                        <a class="text-white" :href="attr.popover.url">
                            [[ attr.popover.label ]]
                        </a>
                    </li>
                </ul>
            </div>
        </v-calendar>
    </div>
    <p class="text-center">
        <a href="{{ webpath.get_full_path }}{{ calendars_list_path }}">
            <small>
                {% trans "Go to calendars detail" %}
            </small>
        </a>
    </p>
</div>

<script src='https://unpkg.com/v-calendar'></script>
<script>
var {{ id }} = new Vue({
    el: '#{{ id }}',

    data () {
        return {
            colors: {0: "red",
                     1: "yellow",
                     2: "blue",
                     3: "green",
                     4: "violet",},
            url: '{% url "unicms_calendar:api-context-calendars-events" webpath_id=webpath.pk %}',
            items: [],
        }
    },

    methods: {
        getEvents(url){
            axios
                .get(url)
                .then(response => {
                    this.items = response.data.results
                })
        },
        switchPage(page) {
            this.attributes = []
            this.getEvents(this.url + '?page_size=200&year='+page.year+'&month='+page.month);
        }
    },

    computed: {
        attributes() {
            let result = []

            // Attributes for todos
            this.items.forEach((event, index) => (
                result.push({
                    dates: {
                        start: new Date(event.event.date_start),
                        end: new Date(event.event.date_end)
                    },
                    bar: this.colors[0],
                    popover: {
                        label: event.event.publication_data.title,
                        url: event.event_url,
                        visibility: 'focus',
                        isInteractive: true
                    },
                })
            ))
            return result
        },
    },

})
</script>
