{% load i18n %}
{% load static %}
{% load unicms_templates %}

<!-- From app django-sass-processor -->
{% if debug %}
    {% load sass_tags %}
{% endif %}
{% load static %}

<!-- load custom template tags -->
{% load unicms_contexts %}
{% load unicms_pages %}

{% get_current_language as LANGUAGE_CODE %}
{% random_id uid as id %}

<div class="row" id="{{ id }}">
    <div class="col">
        <div class="card-wrapper card-space">
            <div class="card card-bg no-after">
                <div class="card-body">
                    <h4 class="card-title">
                        {% trans "Next events" %}
                    </h4>

                    <events-pagination v-bind:data="items" v-if="items.results" id="{{ id }}"></events-pagination>

                    <div>
                        <ul style="list-style: none" class="p-0">
                            <li v-for="event in items.results">
                                <div class="row">
                                    <div class="col-auto">
                                        <div class="avatar size-lg align-top">
                                            <a :href="'{{ webpath.get_full_path }}' + event.event_url" class="no-color">
                                                <img :src="event.event.publication_data.preview_image.file || event.event.publication_data.presentation_image.file"
                                                     :alt="event.event.publication_data.title"
                                                     :title="event.event.publication_data.title"
                                                     v-if="event.event.publication_data.preview_image.file || event.event.publication_data.presentation_image.file">
                                                <svg class="icon icon align-top" v-else>
                                                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-calendar"></use>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <small class="it-right-zone">
                                            <a :href="'{{ webpath.get_full_path }}' + event.event_url" class="no-color">
                                                <b>
                                                    [[ event.event.publication_data.title ]]
                                                </b>
                                            </a>
                                            <br>
                                            {% comment %}
                                            [ [[ event.calendar.name ]] ]
                                            <br>
                                            {% endcomment %}
                                            <small>
                                                [[ new Date(event.event.date_start).toLocaleString("{{ LANGUAGE_CODE }}",
                                                                                                   {day: '2-digit',
                                                                                                    month: '2-digit',
                                                                                                    year: 'numeric',
                                                                                                    hour: '2-digit',
                                                                                                    minute:'2-digit'}) ]]
                                                {% if request.user.is_authenticated %}
                                                {% settings_value "EDITORIAL_BOARD_EVENT_EDIT_URL_JS" as editorial_board_url %}
                                                <div class="float-right">
                                                    <a :href="{{ editorial_board_url|safe }}" target="_blank" alt="{% trans 'Edit' %}" title="{% trans 'Edit' %}">
                                                        <svg class="icon icon-xs">
                                                            <use xlink:href="{% static '/svg/sprite.svg' %}#it-settings"></use>
                                                        </svg>
                                                    </a>
                                                </div>
                                                {% endif %}
                                            </small>
                                        </small>
                                    </div>
                                </div>
                                <hr>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
Vue.component('events-pagination', {
    props: {
        data: Array,
        id: String
    },
    template: `
    <div class="text-center">
    <div class="row">
        <div class="col">
            <small style="color:#050b12;">
                <b>[[ data.count || 0]] {% trans "results" %}</b> in <b>[[ data.total_pages || 0 ]] {% trans "pages" %}</b>
            </small>
        </div>
    </div>
    <div class="row">
        <div class="col" v-if="data.total_pages > 1">
            <div>
                <span :onclick="'{{ id }}.getEvents({{ id }}.previous_page)'" style="cursor: pointer">
                    <span class="sr-only"> {% trans "page" %} </span> &lt;
                </span>

                <small class="mr-2 ml-2" >[[ data.page ]] / <b>[[ data.total_pages ]]</b></small>

                <span :onclick="'{{ id }}.getEvents({{ id }}.next_page)'" style="cursor: pointer">
                    <span class="sr-only"> {% trans "page" %} </span> &gt;
                </span>
            </div>
        </div>
    </div>
    <hr>
    </div>
    `
});


var {{ id }} = new Vue({
    el: '#{{ id }}',
    data () {
        return {
            url: '{% url "unicms_calendar:api-context-calendars-future-events" webpath_id=webpath.pk %}?lang={{ LANGUAGE_CODE }}&page_size=3',
            items: [],
            next_page: "",
            previous_page: "",
        }
    },
    mounted() {
        this.getEvents(this.url);
    },
    methods: {
        getEvents(url){
            axios
                .get(url)
                .then(response => {
                    this.items = response.data
                    this.next_page = response.data.next;
                    this.previous_page = response.data.previous;
                })
        },

    }
})
</script>
